#projects {
  .int {
    background-color: fuchsia;
  }
  // temp
  .section-contents {
    .project-item {
      width: 75%;
      min-width: 400px;
      margin: 4rem auto;
      padding: 2.5rem;
      border-radius: 16px;
      background-color: aliceblue;
      box-shadow: rgba(149, 160, 165, 0.2) 8px 8px 24px;
      .item-title {
        margin-bottom: 1rem;
      }
      .item-box {
        display: flex;
        gap: 20px;
        .item-thumbnail {
          // 1110px ~ flex-deriection
          width: 50%;
          height: 400px;
          background-color: springgreen;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #projects {
    .section-contents {
      .project-item {
        .item-box {
          flex-direction: column;
          .item-thumbnail {
            width: 100%;
            height: 300px;
            background-color: yellow;
          }
        }
      }
    }
  }
}

#item-swiper {
  width: 90%;
  height: 365px;
  margin: 4rem auto;
  .swiper-slide {
    border-radius: 16px;
    background-color: aliceblue;
    box-shadow: 4px 2px 8px 0px rgba(149, 160, 165, 0.2);
    cursor: pointer;
  }
}
.swiper-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-prev-btn,
  .swiper-next-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      width: 20%;
      height: 20%;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%) rotate(45deg);
    }
  }
  .swiper-prev-btn::after {
    transform: translate(-40%, -50%) rotate(-135deg);
  }
}
